.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer a {
    color: #f8b400;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
